<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">New User? Create A Profile</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#projects">Itinerary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Music Revelation</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free App to Find & Add Local Concerts to Your Itinerary.
            </h2>
            <button type="button" id="signInBtn" class="btn btn-primary js-scroll-trigger"
                onclick="document.getElementById('signinModal').style.display='block'">Sign-In</button>
        </div>
    </div>
</header>


<!--modal -->
<div id="signinModal" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal Content -->
        <form class="modal-content animate" action="">
            <br>
            <img id="signInImage" src="/images/banjo-player-fashion-man-387.jpg" alt="Avatar" class="img-thumbnail">
            <br>
            <div class="container">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember Me
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalFooter" class="container" style="background-color:#f1f1f1">

                <a class="btn btn-primary" type="submit">Login</a>
                <a class="btn btn-secondary"
                    onclick="document.getElementById('signinModal').style.display='none'"
                    class="cancelbtn_not">Cancel</a>
                <span class="psw">Forgot <a href="">password?</a></span>
                <br>
            </div>
        </form>
    </div>
</div>
<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Search for a Local Concert</h2>
                <nav class="navbar">
                    <form class="form-inline">
                        <div class="input-group"  id="navBarMain">
                            <input id="zipcodeSearch" type="text" class="form-control" placeholder="Zipcode" aria-label="Zipcode"
                                aria-describedby="basic-addon1">

                            <input id="genreSearch" type="text" class="form-control" placeholder="Genre" aria-label="Genre"
                                aria-describedby="basic-addon1">

                            <input id="navSearch" type="search" class="form-control" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon1">

                            <button id="dateSearch" class="btn btn-primary" type="">Concert Date</button>

                        </div>
                    </form>
                </nav>
                <p class="text-white-50">After you find a concert you are interested in, you can purchase tickets
                    through
                    <a href="https://www.ticketmaster.com/">ticketmaster</a>. Location is not a limitation, the only
                    limitation is your genre preference.</p>
            </div>
        </div>
        <img src="" class="img-fluid" alt="">
    </div>
</section>

  <!-- Itinerary Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Itinerary Header-->
      <div class="bg-black row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/images/singer.png" alt="band">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <div class="itineraryTitle">
              <h4 class="text-white">"Users Name" &nbsp; Journey</h4>
              <h5><font color="#76D7C4">Concert Itinerary</h5></font>
            </div>
            <p class="text-white 0 mb-0">Where's your journey going to take you?&nbsp; </p>
          </div>
        </div>
      </div>

      <!-- Itinerary Row 1-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <!-- add id for concert image -->
          <img id="girlImage" class="img-fluid" src="/images/girl.png" alt="band">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div id="concert1" class="project-text w-100 my-auto text-center text-lg-left">

                <!-- call the date of concert and place under ex.moment().format('ll'); hh:mm a' -->
                <h3 class="text-white">DAY</h3>
                <h4 class="text-white" id="concertDate">OCT.24,2020</h4>
                <h4 class="text-white" id="concertTime">7:00 pm</h4>
                <!-- CALL DESTINATION OF EVENT - CITY -->
                <p class="mb-0 text-white-50" id="concertDest">DESTINATION:</p>
                <!-- CALL NAME OF BAND -->
                <p class="mb-0 text-white-50" id="band">BAND:</p>
                <!-- CALL VENUE OF CONCERT -->
                <p class="mb-0 text-white-50" id="venue">VENUE:</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Itinerary Row 2 -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/images/acoustic-band-bass-811838.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-left h-100 project">
            <div id="concert2" class="project-text w-100 my-auto text-center text-lg-left">
              <h3 class="text-white">DAY</h3>
              <h4 class="text-white" id="cencertDate">OCT.24,2020</h4>
              <h4 class="text-white" id="concertTime">7:00 pm</h4>
              <!-- CALL DESTINATION OF EVENT - CITY -->
              <p class="mb-0 text-white-50" id="concertDest">DESTINATION:</p>
              <!-- CALL NAME OF BAND -->
              <p class="mb-0 text-white-50" id="band">BAND:</p>
              <!-- CALL VENUE OF CONCERT -->
              <p class="mb-0 text-white-50" id="venue">VENUE:</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>
  
    <div class="container">

      <!-- Itinerary Row 3-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <!-- add id for concert image -->
          <img class="img-fluid" src="/images/bar-blur-bulb-1123262.jpg" alt="band">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div id="concert1" class="project-text w-100 my-auto text-center text-lg-left">

                <!-- call the date of concert and place under ex.moment().format('ll'); hh:mm a' -->
                <h3 class="text-white">DAY</h3>
                <h4 class="text-white" id="concertDate">OCT.24,2020</h4>
                <h4 class="text-white" id="concertTime">7:00 pm</h4>
                <!-- CALL DESTINATION OF EVENT - CITY -->
                <p class="mb-0 text-white-50" id="concertDest">DESTINATION:</p>
                <!-- CALL NAME OF BAND -->
                <p class="mb-0 text-white-50" id="band">BAND:</p>
                <!-- CALL VENUE OF CONCERT -->
                <p class="mb-0 text-white-50" id="venue">VENUE:</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Itinerary Row 4-->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/images/guitar.png" alt="guitar">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-left h-100 project">
            <div id="concert2" class="project-text w-100 my-auto text-center text-lg-left">
              <h3 class="text-white">DAY</h3>
              <h4 class="text-white" id="cencertDate">OCT.24,2020</h4>
              <h4 class="text-white" id="concertTime">7:00 pm</h4>
              <!-- CALL DESTINATION OF EVENT - CITY -->
              <p class="mb-0 text-white-50" id="concertDest">DESTINATION:</p>
              <!-- CALL NAME OF BAND -->
              <p class="mb-0 text-white-50" id="band">BAND:</p>
              <!-- CALL VENUE OF CONCERT -->
              <p class="mb-0 text-white-50" id="venue">VENUE:</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>
  </section>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">10920 Lindbrook Dr. Los Angeles, CA </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#">musicrevelation@yourdomain.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Mus!c Revelat!on 2019
    </div>
</footer>