<section id="signupPage">
<div class="container">
  <div class="jumbotron text-center">
<h1> Create a User </h1>
</div>
<div class="container">
<form role="form" action="/signup" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Create a Username!</label>
    <input type="username" class="form-control" id="username" aria-describedby="username" placeholder="Enter a Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPass" placeholder="Password">
  </div>
  <a id="signupBtn" type="submit" class="btn-primary">Sign Up</a>
  <div class="container text-center">
     <p class="text-white-50">Not quite ready to add a concert to your travel itinerary? Go 
                    <a href="/">home</a>.</p>
    </div>
  </div>
</form>
</div>
</div>
</section>



 